#grid {
height:170px;
width:170px;
background-color:grey;
display:flex;
flex-wrap:wrap;
align-items: center;
justify-content: center;

}
#box {
  height:30px;
  width:30px;
  margin:5px;
  background-color: black;

}
body {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.dark{
background-color: black;
height:100%;
width:100%;
}
.light{
  background-color: white;
  height:100%;
  width:100%;
}
